body {
  background: #E6E6E6;
  font-family: Helvetica;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .searchBox {
  left: auto;
  right: auto;
  width: 610px;
  height: 470px;
  border: 1px solid #CFCFCF;
}
body .searchBox .banner {
  color: #535353;
  border-bottom: 1px solid #CFCFCF;
  height: 125px;
  position: relative;
}
body .searchBox .banner .background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
body .searchBox .banner .background img {
  width: 1464px;
  height: 300px;
  object-fit: cover;
}
body .searchBox .banner .title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .searchBox .banner .title .l1 {
  margin-top: 36px;
  margin-left: 40px;
  font-size: 22px;
}
body .searchBox .banner .title .l2 {
  margin-bottom: 23px;
  margin-left: 40px;
  font-size: 18px;
  font-weight: lighter;
}
body .searchBox .searchArea {
  width: 610px;
  height: 342px;
  background-color: white;
  position: relative;
}
body .searchBox .searchArea #streetLabel {
  position: absolute;
  top: 28px;
  left: 40px;
}
body .searchBox .searchArea #street {
  position: absolute;
  top: 50px;
  height: 32px;
  width: 523px;
  left: 40px;
}
body .searchBox .searchArea #cityLabel {
  position: absolute;
  top: 105px;
  left: 40px;
}
body .searchBox .searchArea #city {
  position: absolute;
  top: 130px;
  left: 40px;
  height: 32px;
  width: 220px;
}
body .searchBox .searchArea input[type="text"]:focus {
  border-color: black;
  outline: 0;
  padding-left: 5px;
}
body .searchBox .searchArea #stateLabel {
  position: absolute;
  top: 105px;
  left: 300px;
}
body .searchBox .searchArea #state {
  position: absolute;
  top: 130px;
  left: 300px;
  height: 36px;
  width: 270px;
  border: 1px solid #676773;
  border-radius: 3px;
  padding-left: 3px;
}
body .searchBox .searchArea #state:disabled {
  background-color: white;
  border-color: #C7C7CE;
}
body .searchBox .searchArea label {
  font-size: 15px;
  color: #4F6DAC;
}
body .searchBox .searchArea #separateLine {
  position: absolute;
  top: 185px;
  right: 40px;
  left: 40px;
}
body .searchBox .searchArea .autoLocation {
  position: absolute;
  top: 210px;
  left: 40px;
  font-size: 20px;
  color: #4F6DAC;
  line-height: 20px;
}
body .searchBox .searchArea .autoLocation input {
  top: auto;
  bottom: auto;
}
body .searchBox .searchArea .submit {
  position: absolute;
  top: 260px;
  left: 40px;
  width: 110px;
  height: 47px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 5px solid #334B78;
  background: #496CAC;
  color: white;
  font-weight: lighter;
}
body .searchBox .searchArea .submit:hover {
  background: #667db9;
}
body .searchBox .searchArea .clear {
  position: absolute;
  top: 260px;
  left: 160px;
  width: 110px;
  height: 47px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 5px solid #FF8200;
  background: #FFB80D;
  color: white;
  font-weight: lighter;
}
body .searchBox .searchArea .clear:hover {
  background: #ffcf62;
}
body .searchBox .searchArea .label:after {
  content: " *";
  color: red;
}
/*# sourceMappingURL=style.css.map */