body {
  background: #E6E6E6;
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #searchBox {
  left: auto;
  right: auto;
  width: 610px;
  height: 470px;
  border: 1px solid #CFCFCF;
  border-bottom: 3px solid #CFCFCF;
}
body #searchBox .banner {
  color: #535353;
  border-bottom: 1px solid #CFCFCF;
  height: 125px;
  position: relative;
}
body #searchBox .banner .background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
body #searchBox .banner .background img {
  width: 1464px;
  height: 300px;
  object-fit: cover;
}
body #searchBox .banner .title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body #searchBox .banner .title .l1 {
  margin-top: 36px;
  margin-left: 40px;
  font-size: 22px;
}
body #searchBox .banner .title .l2 {
  margin-bottom: 23px;
  margin-left: 40px;
  font-size: 18px;
  font-weight: lighter;
}
body #searchBox .searchArea {
  width: 610px;
  height: 342px;
  background-color: white;
  position: relative;
}
body #searchBox .searchArea #streetLabel {
  position: absolute;
  top: 28px;
  left: 40px;
}
body #searchBox .searchArea #street {
  position: absolute;
  top: 50px;
  height: 32px;
  width: 523px;
  left: 40px;
}
body #searchBox .searchArea #cityLabel {
  position: absolute;
  top: 105px;
  left: 40px;
}
body #searchBox .searchArea #city {
  position: absolute;
  top: 130px;
  left: 40px;
  height: 32px;
  width: 220px;
}
body #searchBox .searchArea input[type="text"]:focus {
  border-color: black;
  outline: 0;
  padding-left: 5px;
}
body #searchBox .searchArea #stateLabel {
  position: absolute;
  top: 105px;
  left: 300px;
}
body #searchBox .searchArea #state {
  position: absolute;
  top: 130px;
  left: 300px;
  height: 36px;
  width: 270px;
  border: 1px solid #676773;
  border-radius: 3px;
  padding-left: 3px;
}
body #searchBox .searchArea #state:disabled {
  background-color: white;
  border-color: #C7C7CE;
}
body #searchBox .searchArea label {
  font-size: 15px;
  color: #4F6DAC;
}
body #searchBox .searchArea #separateLine {
  position: absolute;
  top: 185px;
  right: 40px;
  left: 40px;
}
body #searchBox .searchArea .autoLocation {
  position: absolute;
  top: 210px;
  left: 40px;
  font-size: 20px;
  color: #4F6DAC;
  line-height: 20px;
}
body #searchBox .searchArea .autoLocation input {
  top: auto;
  bottom: auto;
}
body #searchBox .searchArea .submit {
  position: absolute;
  top: 260px;
  left: 40px;
  width: 110px;
  height: 47px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 5px solid #334B78;
  background: #496CAC;
  color: white;
  font-weight: lighter;
}
body #searchBox .searchArea .submit:hover {
  background: #667db9;
}
body #searchBox .searchArea .clear {
  position: absolute;
  top: 260px;
  left: 160px;
  width: 110px;
  height: 47px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 5px solid #FF8200;
  background: #FFB80D;
  color: white;
  font-weight: lighter;
}
body #searchBox .searchArea .clear:hover {
  background: #ffcf62;
}
body #searchBox .searchArea .label:after {
  content: " *";
  color: red;
}
body #noRecordBox {
  display: none;
  left: auto;
  right: auto;
  width: 610px;
  height: 50px;
  border: 1px solid #CFCFCF;
  color: #214C86;
  background-color: white;
  margin: 20px;
  text-align: center;
}
body #todayBox {
  display: none;
  left: auto;
  right: auto;
  height: 545px;
  width: 980px;
  position: relative;
  background-color: white;
  border: 1px solid #CFCFCF;
  margin: 55px;
  color: #878787;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
body #todayBox #dailyLocation {
  font-weight: lighter;
  font-size: 40px;
  line-height: 40px;
  margin: 23px 35px;
}
body #todayBox .iconAndTemp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body #todayBox .iconAndTemp .icon img {
  height: 190px;
  width: 190px;
  object-fit: fill;
  margin-left: 35px;
}
body #todayBox .iconAndTemp .icon #weatherCode {
  font-size: 25px;
  margin: 0 0 0 50px;
}
body #todayBox .iconAndTemp #todayTemp {
  font-size: 170px;
  font-weight: lighter;
  margin: 0 70px 0 0;
}
body #todayBox .todayItems {
  margin: 40px 0 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body #todayBox .todayItems .todayItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #todayBox .todayItems .todayItem img {
  height: 45px;
  width: 45px;
}
body #todayBox:hover {
  height: 545px;
  width: 980px;
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
body #dailyBox {
  display: none;
  width: 1430px;
}
body #dailyBox .headLine {
  height: 60px;
  background-color: #546FA7;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body #dailyBox .contentLine {
  height: 105px;
  background-color: white;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body #dailyBox .dailyDate {
  width: 195px;
  text-align: center;
}
body #dailyBox .dailyStatus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}
body #dailyBox .dailyStatus img {
  width: 90px;
}
body #dailyBox .dailyTempHigh {
  width: 115px;
  text-align: center;
}
body #dailyBox .dailyTempLow {
  width: 115px;
  text-align: center;
}
body #dailyBox .dailyWindSpeed {
  width: 130px;
  text-align: center;
}
body #detailBox {
  display: none;
}
body #detailBox #detailTitle {
  font-size: 55px;
  font-weight: lighter;
  text-align: center;
  margin: 50px 0;
}
body #detailBox #detail {
  position: relative;
  left: auto;
  right: auto;
  width: 610px;
  height: 500px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid #CFCFCF;
  background-image: linear-gradient(#FFFFFF, #374567);
}
body #detailBox #detail .upperPart {
  color: #495377;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body #detailBox #detail .upperPart .leftPart #detailDate {
  font-size: 28px;
  margin: 30px 0 30px 30px;
}
body #detailBox #detail .upperPart .leftPart #detailWeatherCode {
  font-size: 28px;
  margin: 30px 30px;
}
body #detailBox #detail .upperPart .leftPart #detailTemp {
  font-size: 40px;
  margin: 30px 30px;
}
body #detailBox #detail .upperPart #detailIconDiv img {
  width: 200px;
  margin-right: 30px;
}
body #detailBox #detail .bottomPart {
  color: white;
}
body #detailBox #detail .bottomPart .bottomLine {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
body #detailBox #detail .bottomPart .bottomLine .weatherIndicator {
  text-align: right;
  font-size: 23px;
  width: 360px;
}
body #detailBox #detail .bottomPart .bottomLine .detailNumber {
  font-size: 25px;
  font-weight: bold;
}
body #detailBox #detail:hover {
  width: 610px;
  height: 500px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
body #chartTitleAndArrow {
  display: none;
}
body #chartTitleAndArrow p {
  font-size: 55px;
  font-weight: lighter;
  text-align: center;
  margin: 50px 0;
}
body #chartTitleAndArrow img {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
}
body #chart1Box {
  display: none;
  width: 1430px;
}
body #chart1Box .highcharts-figure,
body #chart1Box .highcharts-data-table table {
  min-width: 310px;
  max-width: 1430px;
  margin: 1em auto;
}
body #chart1Box #container {
  height: 400px;
  width: 1430px;
}
body #chart1Box .highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
body #chart1Box .highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
body #chart1Box .highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
body #chart1Box .highcharts-data-table td,
body #chart1Box .highcharts-data-table th,
body #chart1Box .highcharts-data-table caption {
  padding: 0.5em;
}
body #chart1Box .highcharts-data-table thead tr,
body #chart1Box .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
body #chart1Box .highcharts-data-table tr:hover {
  background: #f1f7ff;
}
body #chart2Box {
  display: none;
  width: 1430px;
  margin-bottom: 500px;
}
body #chart2Box #container2 {
  height: 400px;
  max-width: 1430px;
  min-width: 380px;
  margin: 0 auto;
}
body #chart2Box #loading {
  margin-top: 100px;
  text-align: center;
}
body #chart2Box .highcharts-figure,
body #chart2Box .highcharts-data-table table {
  min-width: 350px;
  max-width: 1430px;
  margin: 1em auto;
}
body #chart2Box .highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
body #chart2Box .highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
body #chart2Box .highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
body #chart2Box .highcharts-data-table td,
body #chart2Box .highcharts-data-table th,
body #chart2Box .highcharts-data-table caption {
  padding: 0.5em;
}
body #chart2Box .highcharts-data-table thead tr,
body #chart2Box .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
body #chart2Box .highcharts-data-table tr:hover {
  background: #f1f7ff;
}
/*# sourceMappingURL=style.css.map */